.App {
  text-align: center;
}

/* <------------Navbar----------------> */
.active-scroll{
  box-shadow: rgb(57, 113, 210) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}









/* Footer  */
.footer-icon{
  cursor: pointer;
}

